.*
!.gitignore
!.editorconfig

# Java files
*.class
*.jar

# Maven files
target/
dependency-reduced-pom.xml

# IntelliJ IDEA files
*.iml
!.idea
.idea/dictionaries/
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.idea/runConfigurations.xml
.idea/uiDesigner.xml

# GitHub files
!.github

# Antlr4 files
*.tokens
gen/
